/**************************************
GENERAL
***************************************/

body {
    background: #292e2b;
    font-family: 'Work Sans', sans-serif;
    color: #e8eaea;
}
a {
    color: #e8eaea;
}
#wrap {
    width: 100%;
    margin: 0 auto;
}

/**************************************
HEADING
***************************************/


header {
  float:left;
  margin: -10px;
  padding: 15px 0 0 0;
  width:100%;
}
h1{
    padding-top:5em;
    text-align: center;
    font-size: 3em
}
h2 {
    text-align: center;
}

#about {
    margin-top: 10px;
    padding: 7em 10px 20px;
    font-size: 1.2em;
    text-align: center;
}
.work {
    margin-top: 0;
    padding: 3em 0 0 0;
    font-size: 2em;
    text-align: center;
}
.contact {
    margin-top: 0;
    padding: 3em 0 0 0;
    font-size: 2em;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    text-shadow: 4px 1px 10px #111;
    
}

/***************************************
Logos
***************************************/
.logos{
    width:2.2em;
    height:2.2em;
}
#FCC{
    height: 2.2em;
    margin-left: -11px;
}

/**************************************
NAVIGATION ATTRIBUTES
***************************************/

#nav {
    color: #e8eaea;
    text-align:center;
    height: 70px;
}


ul {
    opacity: 0.8;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%
    }

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last child {
    border-left: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 19px 16px 13px;
    text-decoration: none;
}

li a:hover {
    background-color: #5fff5a;
    color: black;}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    li {
       float: none;
        display: inline-block;
        border: none;
    }
}
/*************************************************
CodePen boxes 
**************************************************/
#codepen1{
    margin: 20px;
     -webkit-columns: 3 300px;
     -moz-columns: 3 300px;
          columns: 3 300px;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
}



/**************************************
Pages
***************************************/
#hero{
    background: url(/img/wood.jpg) no-repeat center ;
    background-size: cover;
    height: 790px;
    margin: -20px 0 0;
    
}

#page1 {
    background: #584e80;
    border-style: solid;
    border-width: 2px 0;
    border-color: #333;
    height: 790px;
    margin: 0;
} 

#page2 {
    background: #476da0;
    border-style: solid;
    border-width: 2px 0;
    border-color: #333;
    height: 790px;
    margin: 0;
}

#page3 {
    background: url(/img/wood.jpg) no-repeat center;
    background-size: cover;
    height: 790px;
    margin: 0;
}

/***************************************************************
pictures
****************************************************************/
.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    width: 11em;
    box-shadow: 10px 10px 30px #222;
}

